Repository OhSonDoSon/BalanceGame, pull requests merged in 2023-08, with the labels that each got.

#5 docs: pr template 생성 #3
  .github/pull_request_template.md
Labels: docs

#6 set: storybook 초기 설정 - #2
  client/.babelrc.json
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/package-lock.json
  client/package.json
  client/stories/Button.stories.ts
  client/stories/Button.tsx
  client/stories/Configure.mdx
  client/stories/Header.stories.ts
  client/stories/Header.tsx
  client/stories/Page.stories.ts
  client/stories/Page.tsx
  client/stories/assets/accessibility.png
  client/stories/assets/accessibility.svg
  client/stories/assets/addon-library.png
  client/stories/assets/assets.png
  client/stories/assets/context.png
  client/stories/assets/discord.svg
  client/stories/assets/docs.png
  client/stories/assets/figma-plugin.png
  client/stories/assets/github.svg
  client/stories/assets/share.png
  client/stories/assets/styling.png
  client/stories/assets/testing.png
  client/stories/assets/theming.png
  client/stories/assets/tutorials.svg
  client/stories/assets/youtube.svg
  client/stories/button.css
  client/stories/header.css
  client/stories/page.css
Labels: client

#7 docs: pr template 수정 - #3
  .github/pull_request_template.md
Labels: docs

#9 set: github actions lint 설정 - #8
  .github/workflows/lint.yml
Labels: client, docs

#13 set: gitbub action lint - #8
  .github/workflows/kakaotalk.yml
  .github/workflows/lint.yml
Labels: client, bug

#14 set: github action KakaoTalk 알림 수정 - #8
  .github/workflows/kakaotalk.yml
Labels: client, bug

#15 set: github action lint 수정 - #8
  .github/workflows/kakaotalk.yml
  .github/workflows/lint.yml
  client/.eslintrc.json
  client/.prettierrc
  client/package-lock.json
  client/package.json
Labels: client, bug

#16 set: eslint 설정 수정 - #8
  client/.eslintrc.json
Labels: client, bug

#17 set: plugin 설치 - #8
  client/package-lock.json
  client/package.json
Labels: client, bug

#18 set: eslint extends 수정 - #8
  client/.eslintrc.json
Labels: client, bug

#19 set: 설정 파일 수정 - #8
  client/.babelrc.json
  client/.eslintrc.json
  client/.prettierrc
  client/.storybook/main.ts
  client/components/Layout.tsx
  client/components/List.tsx
  client/components/ListDetail.tsx
  client/components/ListItem.tsx
  client/interfaces/index.ts
  client/package-lock.json
  client/package.json
  client/pages/about.tsx
  client/pages/api/users/index.ts
  client/pages/index.tsx
  client/pages/users/[id].tsx
  client/pages/users/index.tsx
  client/stories/Button.stories.ts
  client/stories/Button.tsx
  client/stories/Configure.mdx
  client/stories/Header.stories.ts
  client/stories/Header.tsx
  client/stories/Page.stories.ts
  client/stories/Page.tsx
  client/stories/button.css
  client/stories/header.css
  client/stories/page.css
  client/tsconfig.json
  client/utils/sample-data.ts
Labels: client, bug

#24 set: Docker 설정 - #23
  .github/workflows/docker-client.yml
  client/Dockerfile
Labels: client, docs

#32 테이블에 따른 entity 구성 및 API 예외 응답 설계
  server/src/main/java/com/balancegame/server/choice/domain/Choice.java
  server/src/main/java/com/balancegame/server/choice/enums/ChoiceValue.java
  server/src/main/java/com/balancegame/server/common/CommonResponse.java
  server/src/main/java/com/balancegame/server/exception/CommonException.java
  server/src/main/java/com/balancegame/server/exception/CommonExceptionHandler.java
  server/src/main/java/com/balancegame/server/exception/ErrorCode.java
  server/src/main/java/com/balancegame/server/exception/ErrorMessage.java
  server/src/main/java/com/balancegame/server/member/domain/Member.java
  server/src/main/java/com/balancegame/server/vote/domain/Vote.java
Labels: server
